body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  z-index: -1;
}
.letter{
  color: black;
}

html,
body {
  height: 100%;
  min-height: 100vh;
}

.containerBody {
  height: 100%;
  min-height: 100vh;
}

.pt_BR {
  background: linear-gradient(0, rgb(69, 177, 175) 0%, rgb(186, 216, 211) 50%, rgb(255, 255, 255) 100%);
  border: 0px;
}

.en_US {
  background: linear-gradient(0, rgb(88, 130, 196) 0%, rgb(198, 210, 238) 50%, rgb(255, 255, 255) 100%);
  border: 0px;
}

.es_ES {
  background: linear-gradient(0, rgb(252, 197, 119) 0%, rgb(243, 227, 191) 50%, rgb(255, 255, 255) 100%);
  border: 0px;
}

.fr_FR {
  background: linear-gradient(0, rgb(69, 89, 177) 0%, rgb(216, 186, 186) 50%, rgb(255, 255, 255) 100%);
  border: 0px;
}

.de_DE {
  background: linear-gradient(0, #d15b5b 0%, #f0f1a0 100% );
  border: 0px;
}

.it_IT {
  background: linear-gradient(0, #009246, #FFFFFF);
  border: 0px;
}

.ja_JP {
  background: linear-gradient(0, #be1616 0%, #e75757 35%, #FFFFFF 100% );
  border: 0px;
}

.body {
  z-index: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}
