.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 197px;
    z-index: 9999;
    transition: left 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
  }
  
  .sidebar.collapsed {
    left: -197px;
  }
  
  .sidebar.buildup {
    left: 0;
  }
  
  .toggle-btn {
    position: absolute;
    top: 10px;
    left: 197px;
    padding: 8px;
    background-color: rgb(255, 255, 255);
    color: black;
    border: none;
    cursor: pointer;
  }
  
  .menus {
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }
  
  .submenus {
    display: flex;
    flex-direction: column; /* Alteração */
    align-items: flex-start; /* Alteração */
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .submenus:hover {
    background-color: #333;
  }
  
  .menu-icon {
    margin-right: 10px;
    color: #fff;
  }
  
  .menu-title {
    color: black;
  }
  
  .submenu {
    list-style: none;
    padding: 0;
    margin: 10px 0;
  }
  
  .submenu-title {
    color: black;
    padding-left: 20px;
  }
